{:paths ["."] ;; needed to require relative files/namespaces
 :deps {;org.clojure/tools.logging    {:mvn/version "1.2.4"}
        org.clj-commons/pretty {:mvn/version "3.6.7"}
        io.github.paintparty/bling {:mvn/version "0.8.8"}
        clj-commons/clj-yaml {:mvn/version "1.0.29"}
        hiccup/hiccup {:mvn/version "2.0.0"}}}